openapi: 3.0.0
info:
  title: DHL Express APIs (MyDHL API)
  description: "Welcome to the official DHL Express APIs (MyDHL API) below are the\
    \ published API Documentation to fulfill your shipping needs with DHL Express.\
    \ \n    \nPlease follow the process described [here](https://developer.dhl.com/api-reference/dhl-express-mydhl-api#get-started-section/user-guide--get-access)\
    \ to request access to the DHL Express - MyDHL API services  \n\nIn case you already\
    \ have DHL Express - MyDHL API Service credentials please ensure to use the endpoints/environments\
    \ listed \n[here](https://developer.dhl.com/api-reference/dhl-express-mydhl-api#get-started-section/user-guide--environments)\n"
  contact:
    name: DPDHL API Portal Support
    url: https://developer.dhl.com/help-center
  version: 2.7.0
  x-release-date: 2022-10-16T00:00:00.000Z
servers:
- url: https://api-mock.dhl.com/mydhlapi
  description: Mock Server (simulate API responses with fixed test data)
- url: https://express.api.dhl.com/mydhlapi/test
  description: Test Environment
- url: https://express.api.dhl.com/mydhlapi
  description: Production Environment
security:
- basicAuth: []
tags:
- name: rating
- name: product
- name: shipment
- name: tracking
- name: pickup
- name: identifier
- name: address
- name: invoice
paths:
  /pickups/{dispatchConfirmationNumber}:
    delete:
      tags:
      - pickup
      summary: Cancel a DHL Express pickup booking request
      description: |
        The Cancel Pickup service can be used to cancel a DHL Express pickup booking request
      operationId: exp-api-pickups-cancel
      parameters:
      - name: dispatchConfirmationNumber
        in: path
        description: Shipment pickup confirmation number for example `PRG999126012345`
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PRG999126012345
      - name: requestorName
        in: query
        description: |
          Name of the person requesting to cancel the scheduled pickup
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Fred Brent
      - name: reason
        in: query
        description: |
          Provide why scheduled pickup is being cancelled
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Unplanned leave
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Pickup cancelled
        "400":
          description: Pickup already cancelled or completed / Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Missing required parameter:
                  value:
                    instance: /expressapi/pickups/PRG211126000382
                    detail: "Missing mandatory parameters: requestorName"
                    title: Missing parameters
                    message: Bad request
                    status: "400"
        "404":
          description: Pickup not found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Pickup not found:
                  value:
                    instance: /expressapi/pickups/PRG211126000382?requestorName=Adam%20Spencer&reason=closed
                    detail: Cancellation of booking was not successful. Requested
                      Pickup was not found
                    title: Pickup not found
                    status: "404"
    patch:
      tags:
      - pickup
      summary: Update pickup information for an existing DHL Express pickup booking
        request
      description: |
        The Update Pickup service can be used to update pickup information for an existing DHL Express pickup booking request
      operationId: exp-api-pickups-update
      parameters:
      - name: dispatchConfirmationNumber
        in: path
        description: Shipment pickup confirmation number for example `PRG999126012345`
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: PRG999126012345
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      requestBody:
        description: Details about the requested pickup updates
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressUpdatePickupRequest'
        required: true
      responses:
        "200":
          description: Pickup updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressUpdatePickupResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/pickups/PRG211126000382
                    detail: "5556: The Original Shipper Account Number must match\
                      \ with the Shipper Account Number used previously to create/update\
                      \ successful pickup request. Please check the Original Shipper\
                      \ Account Number and retry."
                    title: Bad request
                    message: Bad request
                    status: "400"
        "404":
          description: Pickup not found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Pickup not found:
                  value:
                    instance: /expressapi/pickups/PRG211126000382
                    detail: ' Requested Pickup was not found'
                    title: Pickup not found
                    status: "404"
        "422":
          description: Unprocessable Entity
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Schema validation error:
                  value:
                    instance: /expressapi/pickups/PRG211126000382
                    detail: "Multiple problems found, see Additional Details"
                    title: Validation error
                    message: Unprocessable Entity
                    additionalDetails:
                    - "#/location: expected maxLength: 80, actual: 85"
                    - "#/customerDetails/shipperDetails/postalAddress/cityName: expected\
                      \ maxLength: 45, actual: 49"
                    - "#/customerDetails/shipperDetails/contactInformation/fullName:\
                      \ expected maxLength: 255, actual: 260"
                    status: "422"
  /pickups:
    post:
      tags:
      - pickup
      summary: Create a DHL Express pickup booking request
      description: |
        The Pickup service creates a DHL Express pickup booking request
      operationId: exp-api-pickups
      parameters:
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      requestBody:
        description: Details about the requested pickup
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressPickupRequest'
        required: true
      responses:
        "201":
          description: Pickup created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressPickupResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Account not allowed:
                  value:
                    instance: /expressapi/pickups
                    detail: "8003: Account not allowed for this service. Please contact\
                      \ your DHL Express representative."
                    title: Bad request
                    message: Bad request
                    status: "400"
  /identifiers:
    get:
      tags:
      - identifier
      summary: Service to allocate identifiers upfront for DHL Express Breakbulk or
        Loose Break Bulk shipments
      description: |
        Service to allocate identifiers upfront for DHL Express Breakbulk or Loose Break Bulk shipments. Requires authorization to use this service from DHL Express.
      operationId: exp-api-identifiers
      parameters:
      - name: accountNumber
        in: query
        description: DHL Express customer account number
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 123456789
      - name: type
        in: query
        description: Type of DHL Express identifier to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - SID
          - PID
          - ASID3
          - ASID6
          - ASID12
          - ASID24
          - HUID
        example: SID
      - name: size
        in: query
        description: Number of identifiers to be retrieved
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "1"
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Identifers provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressIdentifierResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/identifiers
                    detail: "3501: Request Identifier is not allowed for your username.\
                      \ Please contact your DHL Express representative."
                    title: Bad request
                    message: Bad request
                    status: "400"
  /address-validate:
    get:
      tags:
      - address
      summary: Validate DHL Express pickup/delivery capabilities at origin/destination
      description: |
        Validates if DHL Express has got pickup/delivery capabilities at origin/destination
      operationId: exp-api-address-validate
      parameters:
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - pickup
          - delivery
        example: pickup
      - name: countryCode
        in: query
        description: "A short text string code (see values defined in ISO 3166) specifying\
          \ the shipment origin country. https://gs1.org/voc/Country, Alpha-2 Code"
        required: true
        style: form
        explode: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
        example: CZ
      - name: postalCode
        in: query
        description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
        required: false
        style: form
        explode: true
        schema:
          maxLength: 12
          minLength: 0
          type: string
        example: "14800"
      - name: cityName
        in: query
        description: Text specifying the city name
        required: false
        style: form
        explode: true
        schema:
          maxLength: 45
          minLength: 0
          type: string
        example: Prague
      - name: countyName
        in: query
        description: Text specifying the county name
        required: false
        style: form
        explode: true
        schema:
          maxLength: 45
          minLength: 0
          type: string
        example: praha
      - name: strictValidation
        in: query
        description: If set to true service will return no records when exact valid
          match not found
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
        example: true
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Address validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressAddressValidateResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/address-validate
                    detail: "Parameters not having correct format: cityName (maxLength=45)"
                    title: Bad request
                    message: Bad request
                    status: "400"
  /rates:
    get:
      tags:
      - rating
      summary: Retrieve Rates for a one piece Shipment
      description: |
        The Rate request will return DHL's product capabilities and prices (where applicable) based on the input data. Using the shipper and receiver address as well as the dimension and weights of the pieces belonging to a shipment, this operation returns the available products including the shipping price (where applicable)
      operationId: exp-api-rates
      parameters:
      - name: accountNumber
        in: query
        description: DHL Express customer account number
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 123456789
      - name: originCountryCode
        in: query
        description: "A short text string code (see values defined in ISO 3166) specifying\
          \ the shipment origin country. https://gs1.org/voc/Country, Alpha-2 Code"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: CZ
      - name: originPostalCode
        in: query
        description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "14800"
      - name: originCityName
        in: query
        description: Text specifying the city name
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Prague
      - name: destinationCountryCode
        in: query
        description: "A short text string code (see values defined in ISO 3166) specifying\
          \ the shipment destination country. https://gs1.org/voc/Country, Alpha-2\
          \ Code"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: CZ
      - name: destinationPostalCode
        in: query
        description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "14800"
      - name: destinationCityName
        in: query
        description: Text specifying the city name
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Prague
      - name: weight
        in: query
        description: Gross weight of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 999999999999
          minimum: 0
          type: number
        example: "5"
      - name: length
        in: query
        description: Total length of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "15"
      - name: width
        in: query
        description: Total width of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "10"
      - name: height
        in: query
        description: Total height of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "5"
      - name: plannedShippingDate
        in: query
        description: |
          Timestamp represents the date you plan to ship your prospected shipment
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 2020-02-26
      - name: isCustomsDeclarable
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
        example: false
      - name: unitOfMeasurement
        in: query
        description: |
          The UnitOfMeasurement node conveys the unit of measurements used in the operation. This single value corresponds to the units of weight and measurement which are used throughout the message processing.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - metric
          - imperial
        example: metric
      - name: nextBusinessDay
        in: query
        description: |
          When set to true and there are no products available for given plannedShippingDate then products available for the next possible pickup date are returned
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
        example: false
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: strictValidation
        in: query
        description: "If set to true, indicate strict DCT validation of address details,\
          \ and validation of product and service(s) combination provided in request."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      - name: getAllValueAddedServices
        in: query
        description: Option to return list of all value added services and its rule
          groups if applicable
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      - name: requestEstimatedDeliveryDate
        in: query
        description: Option to return Estimated Delivery Date in response
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
        example: true
      - name: estimatedDeliveryDateType
        in: query
        description: "Estimated Delivery Date Type. QDDF: is the fastest 'docs' transit\
          \ time as quoted to the customer at booking or shipment creation. No custom\
          \ clearance is considered. QDDC: constitutes DHL's service commitment as\
          \ quoted at booking or shipment creation. QDDc builds in clearance time,\
          \ and potentially other special perational non-transport component(s), when\
          \ relevant. "
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - QDDC
          - QDDF
          default: QDDF
        example: QDDF
      responses:
        "200":
          description: Rates found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressRates'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/rates
                    detail: The account number is not found or invalid. Please check
                      the account number and retry.
                    title: Bad request
                    message: Bad request
                    status: "400"
        "500":
          description: Process errors
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Process Error:
                  value:
                    instance: /expressapi/rates
                    detail: "999: Process failure occurred. Process ID associated\
                      \ for that transaction (1234567890)"
                    title: Internal Server Error
                    message: Internal Server Error
                    code: "500"
    post:
      tags:
      - rating
      summary: Retrieve Rates for Multi-piece Shipments
      description: |
        The Rate request will return DHL's product capabilities and prices (where applicable) based on the input data. Using the shipper and receiver address as well as the dimension and weights of the pieces belonging to a shipment, this operation returns the available products including the shipping price (where applicable)
      operationId: exp-api-rates-many
      parameters:
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: strictValidation
        in: query
        description: "If set to true, indicate strict DCT validation of address details,\
          \ and validation of product and service(s) combination provided in request."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      requestBody:
        description: Details about the requested shipment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressRateRequest'
        required: true
      responses:
        "200":
          description: Rates found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressRates'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/rates
                    detail: The account number is not found or invalid. Please check
                      the account number and retry.
                    title: Bad request
                    message: Bad request
                    status: "400"
        "500":
          description: Process errors
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Process Error:
                  value:
                    instance: /expressapi/rates
                    detail: "999: Process failure occurred. Process ID associated\
                      \ for that transaction (1234567890)"
                    title: Internal Server Error
                    message: Internal Server Error
                    code: "500"
  /landed-cost:
    post:
      tags:
      - rating
      summary: Landed Cost
      description: |
        The Landed Cost section allows further information around products being sold to be provided. In return the duty, tax and shipping charges are calculated in real time and provides transparency about any extra costs the buyer may have to pay before they reach them.
      operationId: exp-api-landed-cost
      parameters:
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      requestBody:
        description: Details about the requested shipment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressLandedCostRequest'
        required: true
      responses:
        "200":
          description: Landed cost
          headers:
            Invocation-Id:
              description: Unique identifier of the transaction
              style: simple
              explode: false
              schema:
                type: string
              x-example: 3caf468a-c2fb-4837-b271-09e82f93ccd2
            Message-Reference:
              description: Message reference provided by customer as part of reqeust
                or automatically generated when not provided
              style: simple
              explode: false
              schema:
                type: string
              x-example: 33a5611c-785e-4795-8a96-b9920976072f
            Quotation-Id:
              description: Quotation ID if getQuotationID is requested
              style: simple
              explode: false
              schema:
                type: string
              x-example: Q-2021-100-000018059
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressRates'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/landedcost
                    detail: The account number is not found or invalid. Please check
                      the account number and retry.
                    title: Bad request
                    message: Bad request
                    status: "400"
        "500":
          description: Process errors
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Process Error:
                  value:
                    instance: /expressapi/landedcost
                    detail: "999: Process failure occurred. Process ID associated\
                      \ for that transaction (1234567890)"
                    title: Internal Server Error
                    message: Internal Server Error
                    code: "500"
  /products:
    get:
      tags:
      - product
      summary: Retrieve available DHL Express products for a one piece Shipment
      description: "The GET Products API will return DHL's product capabilities for\
        \ a certain set of input data. \nUsing the shipper and receiver address as\
        \ well as the dimension and weight of the piece belonging to a shipment, this\
        \ operation returns the available products.\n"
      operationId: exp-api-products
      parameters:
      - name: accountNumber
        in: query
        description: DHL Express customer account number
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 123456789
      - name: originCountryCode
        in: query
        description: "A short text string code (see values defined in ISO 3166) specifying\
          \ the shipment origin country. https://gs1.org/voc/Country, Alpha-2 Code"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: CZ
      - name: originPostalCode
        in: query
        description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "14800"
      - name: originCityName
        in: query
        description: Text specifying the city name
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Prague
      - name: destinationCountryCode
        in: query
        description: "A short text string code (see values defined in ISO 3166) specifying\
          \ the shipment destination country. https://gs1.org/voc/Country, Alpha-2\
          \ Code"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: CZ
      - name: destinationPostalCode
        in: query
        description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "14800"
      - name: destinationCityName
        in: query
        description: Text specifying the city name
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: Prague
      - name: weight
        in: query
        description: Gross weight of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 999999999999
          minimum: 0
          type: number
        example: "5"
      - name: length
        in: query
        description: Total length of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "15"
      - name: width
        in: query
        description: Total width of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "10"
      - name: height
        in: query
        description: Total height of the shipment including packaging.
        required: true
        style: form
        explode: true
        schema:
          multipleOf: 0.001
          maximum: 9999999999
          minimum: 1
          type: number
        example: "5"
      - name: plannedShippingDate
        in: query
        description: |
          Timestamp represents the date you plan to ship your prospected shipment
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 2020-02-26
      - name: isCustomsDeclarable
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
        example: false
      - name: unitOfMeasurement
        in: query
        description: |
          The UnitOfMeasurement node conveys the unit of measurements used in the operation. This single value corresponds to the units of weight and measurement which are used throughout the message processing.
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - metric
          - imperial
        example: metric
      - name: nextBusinessDay
        in: query
        description: |
          When set to true and there are no products available for given plannedShippingDate then products available for the next possible pickup date are returned
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
        example: false
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: strictValidation
        in: query
        description: "If set to true, indicate strict DCT validation of address details,\
          \ and validation of product and service(s) combination provided in request."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      - name: getAllValueAddedServices
        in: query
        description: Option to return list of all value added services and its rule
          groups if applicable
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      - name: requestEstimatedDeliveryDate
        in: query
        description: Option to return Estimated Delivery Date in response
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
        example: true
      - name: estimatedDeliveryDateType
        in: query
        description: "Estimated Delivery Date Type. QDDF: is the fastest 'docs' transit\
          \ time as quoted to the customer at booking or shipment creation. No custom\
          \ clearance is considered. QDDC: constitutes DHL's service commitment as\
          \ quoted at booking or shipment creation. QDDc builds in clearance time,\
          \ and potentially other special perational non-transport component(s), when\
          \ relevant. "
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - QDDC
          - QDDF
          default: QDDF
        example: QDDF
      responses:
        "200":
          description: Products found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressProducts'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/products
                    detail: The account number is not found or invalid. Please check
                      the account number and retry.
                    title: Bad request
                    message: Bad request
                    status: "400"
        "500":
          description: Process errors
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Process Error:
                  value:
                    instance: /expressapi/products
                    detail: "999: Process failure occurred. Process ID associated\
                      \ for that transaction (1234567890)"
                    title: Internal Server Error
                    message: Internal Server Error
                    code: "500"
  /shipments/{shipmentTrackingNumber}/tracking:
    get:
      tags:
      - tracking
      summary: Track a single DHL Express Shipment
      description: |
        The Tracking service retrieves tracking statuses for a single DHL Express Shipment
      operationId: exp-api-shipments-tracking
      parameters:
      - name: shipmentTrackingNumber
        in: path
        description: DHL Express shipment identification number
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234567890
      - name: trackingView
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all-checkpoints
          - last-checkpoint
          - shipment-details-only
          - advance-shipment
          - bbx-children
          default: all-checkpoints
        example: all
      - name: levelOfDetail
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - shipment
          - piece
          - all
          default: shipment
        example: all
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Accept-Language
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: eng
        example: eng
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Shipment details found
          headers:
            Invocation-Id:
              description: Unique identifier of the transaction
              style: simple
              explode: false
              schema:
                type: string
            Message-Reference:
              description: Message reference provided by customer as part of reqeust
                or automatically generated when not provided
              style: simple
              explode: false
              schema:
                type: string
              x-example: 33a5611c-785e-4795-8a96-b9920976072f
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
              x-example: eng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressTrackingResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/shipments/1251820953/tracking?trackingView=shipment-details&levelOfDetail=shipment
                    detail: "Parameters not having correct format: trackingView (valid\
                      \ parameters for trackingView are [last-checkpoint, all-checkpoints,\
                      \ bbx-children, advance-shipment, shipment-details-only]"
                    title: Wrong format
                    message: Bad request
                    status: "400"
        "404":
          description: No data found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                No data found:
                  value:
                    instance: /expressapi/shipments/1251820953/tracking?trackingView=shipment-details&levelOfDetail=shipment
                    detail: No data found
                    title: Not data found
                    message: Not data found
                    status: "404"
  /tracking:
    get:
      tags:
      - tracking
      summary: Track a single or multiple DHL Express Shipments
      description: |
        The Tracking service retrieves tracking statuses for a single or multiple DHL Express Shipments
      operationId: exp-api-shipments-tracking-multi
      parameters:
      - name: shipmentTrackingNumber
        in: query
        description: DHL Express shipment identification number
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example: 1234567890
      - name: pieceTrackingNumber
        in: query
        description: DHL Express shipment piece tracking number
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: shipmentReference
        in: query
        description: |
          Shipment reference which was provided during the shipment label creation
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: CustomerReference1
      - name: shipmentReferenceType
        in: query
        description: |
          Shipment reference type which was provided during the shipment label creation
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: CU
      - name: shipperAccountNumber
        in: query
        description: |
          Shipper DHL Express Account number under which the shipment label was created
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "123456789"
      - name: dateRangeFrom
        in: query
        description: |
          When tracking by Shipment reference you need to restrict the search by timeframe. Please provide the start of the period.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 2020-05-01
      - name: dateRangeTo
        in: query
        description: |
          When tracking by Shipment reference you need to restrict the search by timeframe. Please provide the end of the period.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 2020-06-01
      - name: trackingView
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - all-checkpoints
          - last-checkpoint
          - shipment-details-only
          - advance-shipment
          - bbx-children
          default: all-checkpoints
        example: all
      - name: levelOfDetail
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - shipment
          - piece
          - all
          default: shipment
        example: all
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Accept-Language
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: eng
        example: eng
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Shipment details found
          headers:
            Invocation-Id:
              description: Unique identifier of the transaction
              style: simple
              explode: false
              schema:
                type: string
            Message-Reference:
              description: Message reference provided by customer as part of reqeust
                or automatically generated when not provided
              style: simple
              explode: false
              schema:
                type: string
              x-example: 33a5611c-785e-4795-8a96-b9920976072f
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
              x-example: eng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressTrackingResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/tracking?shipmentReference=ShipReferenceRCS03&trackingView=shipment-details-only&levelOfDetail=shipment
                    detail: "Missing mandatory parameters: shipperAccountNumber"
                    title: Missing parameters
                    message: Bad request
                    status: "400"
        "404":
          description: No data found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                No data found:
                  value:
                    instance: /expressapi/tracking?shipmentReference=ShipReferenceRCS03&shipperAccountNumber=300865060&trackingView=shipment-details&levelOfDetail=shipment
                    detail: No Shipments Found for ReferenceID | ShipReferenceRCS03
                    title: Not data found
                    message: Not data found
                    status: "404"
  /shipments/{shipmentTrackingNumber}/proof-of-delivery:
    get:
      tags:
      - shipment
      summary: Electronic Proof of Delivery
      description: |
        The electronic proof of delivery service can be used to retrieve proof of delivery for certain delivered DHL Express shipments
      operationId: exp-api-shipments-epod
      parameters:
      - name: shipmentTrackingNumber
        in: path
        description: DHL Express shipment identification number
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234567890
      - name: shipperAccountNumber
        in: query
        description: DHL Express customer shipper account number
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 123456789
      - name: content
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - epod-detail
          - epod-summary
          - epod-detail-esig
          - epod-summary-esig
          - epod-table
          default: epod-summary
        example: epod-summary
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      responses:
        "200":
          description: Electronic Proof of delivery found
          headers:
            Invocation-Id:
              description: Unique identifier of the transaction
              style: simple
              explode: false
              schema:
                type: string
            Message-Reference:
              description: Message reference provided by customer as part of reqeust
                or automatically generated when not provided
              style: simple
              explode: false
              schema:
                type: string
              x-example: 33a5611c-785e-4795-8a96-b9920976072f
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
              x-example: eng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressEPODResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/shipments/1234567890/proof-of-delivery
                    title: Bad request
                    message: Bad request
                    status: "400"
        "404":
          description: No electronic proof of delivery found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                No data found:
                  value:
                    instance: /expressapi/shipments/1234567890/proof-of-delivery
                    title: No data found
                    status: "404"
  /shipments/{shipmentTrackingNumber}/upload-image:
    patch:
      tags:
      - shipment
      summary: Upload Paperless Trade shipment (PLT) images of previously created
        shipment.
      description: "The upload-image service can be used to upload PLT images to a\
        \ previously created shipment.  The PLT images for the shipment can be uploaded\
        \ before the shipment has been physically  collected by DHL courier. However,\
        \ the original shipment must contain WY as the special service otherwise,\
        \  an error will be returned when the customer wants to use the reupload function\
        \ in this upload-image service.  \t IMPORTANT: Please note that at least 10mins\
        \ must be given between the initial createShipment request and then  the upload-image\
        \ request (including subsequent upload-image request). \n"
      operationId: exp-api-shipments-img-upload
      parameters:
      - name: shipmentTrackingNumber
        in: path
        description: DHL Express shipment identification number
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234567890
      requestBody:
        description: Details about the shipment images
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressImageUploadRequest'
        required: true
      responses:
        "200":
          description: Images uploaded
          headers:
            Invocation-Id:
              description: Unique identifier of the transaction
              style: simple
              explode: false
              schema:
                type: string
            Message-Reference:
              description: Message reference provided by customer as part of reqeust
                or automatically generated when not provided
              style: simple
              explode: false
              schema:
                type: string
              x-example: 33a5611c-785e-4795-8a96-b9920976072f
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
              x-example: eng
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Invalid parameter:
                  value:
                    instance: /expressapi/shipments/1234567890/upload-image
                    title: Bad request
                    message: Bad request
                    status: "400"
        "404":
          description: No shipment details found
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                No data found:
                  value:
                    instance: /expressapi/shipments/1234567890/upload-image
                    detail: Operation not possible since shipment information not
                      found
                    title: Not found
                    message: Not found
                    status: "404"
        "422":
          description: Unprocessable Entity
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Schema validation error:
                  value:
                    instance: /expressapi/shipments/1234567890/upload-image
                    detail: "#/productCode: expected minLength: 1, actual: 0"
                    title: Validation error
                    message: Unprocessable Entity
                    status: "422"
  /shipments:
    post:
      tags:
      - shipment
      summary: Create Shipment
      description: |
        ## Create Shipment
        The ShipmentRequest Operation will allow you to generate an AWB number and piece IDs, generate a shipping label, transmit manifest shipment detail to DHL, and optionally book a courier for the pickup of a shipment. The key elements in the response of the Shipment Request will be a base64 encoded PDF label and the Shipment and Piece identification numbers, which you can use for tracking on the DHL web site.
        While the RateRequest and ShipmentRequest services can be used independently, DHL recommends the use of RateRequest to first validate the products available for the shipper/receiver. The global product codes which are output during the RateResponse can be used directly as input into the Shipment Request, as both perform similar validations in terms of service capability.
      operationId: exp-api-shipments
      parameters:
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Webstore-Platform-Version
        in: header
        description: |
          Please provide version of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: strictValidation
        in: query
        description: "If set to true, indicate strict DCT validation of address details,\
          \ and validation of product and service(s) combination provided in request."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        example: false
      requestBody:
        description: Details about the shipment to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/supermodelIoLogisticsExpressCreateShipmentRequest'
        required: true
      responses:
        "201":
          description: Shipment Created
          headers:
            Location:
              description: Location of the created resource e.g. `/shipments/1117120421`
              style: simple
              explode: false
              schema:
                type: string
              x-example: /shipments/1117120421
            Message-Reference:
              style: simple
              explode: false
              schema:
                type: string
              x-example: reference123
            Invocation-Id:
              style: simple
              explode: false
              schema:
                type: string
              x-example: invocation007
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressCreateShipmentResponse'
        "400":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Incorrect date:
                  value:
                    instance: /expressapi/shipments
                    detail: "998: ShipTimeStamp is not well formatted.(Expected Sample\
                      \ Format : '2010-02-11T17:10:09 GMT+01:00')"
                    title: Bad request
                    message: Bad request
                    status: "400"
                Invalid parameter:
                  value:
                    instance: /expressapi/shipments
                    detail: "7008: The requested Special Service Code  #/valueAddedServices/0/serviceCode\
                      \ 'xx' is not available between this origin and destination.\
                      \ Please validate the products and services combination (via\
                      \ the /rates or /products service) or contact our customer service."
                    title: Bad request
                    message: Bad request
                    status: "400"
        "422":
          description: Wrong input parameters
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Schema validation error:
                  value:
                    instance: expressapi/shipments
                    detail: "#/content/packages/0/identifiers/0: extraneous key [dataIdentifier]\
                      \ is not permitted"
                    title: Validation error
                    message: Unprocessable Entity
                    status: "422"
        "500":
          description: Process errors
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                default: application/problem+json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supermodelIoLogisticsExpressErrorResponse'
              examples:
                Process Error:
                  value:
                    instance: /expressapi/shipments
                    detail: "999: Process failure occurred. Process ID associated\
                      \ for that transaction (1234567890)"
                    title: Internal Server Error
                    message: Internal Server Error
                    code: "500"
  /shipments/{shipmentTrackingNumber}/upload-invoice-data:
    patch:
      tags:
      - shipment
      summary: Upload Commercial Invoice data for your DHL Express shipment
      description: "## Upload Invoice Data with Shipment ID\nThe upload invoice data\
        \ service can be used to upload Commerical Invoice data with Shipment Identification\
        \ Number for your DHL Express shipment.Customer can provide Commercial Invoice\
        \ data before Shipment Data via Create Shipment flow or vice versa.\n\nImportant\
        \ Note: UploadInvoiceData service is not enabled by default and must be requested\
        \ per customer. Use of this service is only enabled on exceptional basis and\
        \ DHL Express recommends to submit shipment requests together with a commercial\
        \ invoice data.To enable use of UploadInvoiceData service, please contact\
        \ your DHL Express IT representative. To use UploadInvoiceData service, it\
        \ is required that \"PM\" service code is provided in MyDHL API Create Shipment\
        \ request. \"PM\" service code is not enabled by \ndefault for the customers,\
        \ and needs to be enabled upon request.\n\nWhen Shipment is created via MyDHL\
        \ API Create Shipment service before uploading the Commercial Invoice (CIN)\
        \ data,it is mandatory to provide the Shipment Identification Number as received\
        \ in MyDHL API Create Shipment service Response.\nWhen Commercial Invoice\
        \ (CIN) data is uploaded prior to creating a shipment via MyDHL API Create\
        \ Shipment service, it is mandatory to provide Invoice Reference Number with\
        \ Invoice Reference Type value \"CU\" and Shipper Account Number. \n\nThese\
        \ elements are mandatory to facilitate an effective data merge of the Commercial\
        \ Invoice (CIN) data with Shipment Data. As an output customer will receive\
        \ Notification element value '0' on successful upload of Commercial Invoice\
        \ (CIN) data. \nDHL backend application performs the subsequent data merging\
        \ process of the Shipment Data and Commercial Invoice data.\n"
      operationId: exp-api-shipments-invoice-data-awb
      parameters:
      - name: shipmentTrackingNumber
        in: path
        description: DHL Express shipment identification number
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234567890
      - name: Message-Reference
        in: header
        description: |
          Please provide message reference
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 36
          minLength: 28
          type: string
        example: d0e7832e-5c98-11ea-bc55-0242ac13
      - name: Message-Reference-Date
        in: header
        description: Optional reference date in the  HTTP-date format https://tools.ietf.org/html/rfc7231#section-7.1.1.2
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: "Wed, 21 Oct 2015 07:28:00 GMT"
      - name: Plugin-Name
        in: header
        description: |
          Please provide name of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Plugin-Version
        in: header
        description: |
          Please provide version of the plugin (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Shipping-System-Platform-Name
        in: header
        description: |
          Please provide name of the shipping platform(applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 20
          type: string
        example: ' '
      - name: Shipping-System-Platform-Version
        in: header
        description: |
          Please provide version of the shipping platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 15
          type: string
        example: ' '
      - name: Webstore-Platform-Name
        in: header
        description: |
          Please provide name of the webstore platform (applicable to 3PV only)
        required: false
        style: simple
        explode: false
[...]
